<div class="statementList">
  <ng-container *ngIf="transactions?.length; else noTransactions">
    <div
      *ngFor="let item of (transactions || []).slice(-8).reverse()"
      [attr.data-key]="item.id"
      class="statementItem"
    >
      <span class="itemMonth">{{ getMonthName(item.date) }}</span>
      <div class="itemsTypeDate">
        <p class="itemType">{{ capitalizeFirstLetter(item.type) }}</p>
        <p class="itemDate">{{ item.date | date: 'dd/MM/yyyy' }}</p>
      </div>
      <div class="itemAmountActions">
        <p class="itemAmount" [class.negative]="item.value < 0">
          {{ item.value < 0 ? `- R$` : `R$` }} {{ (getAbsolute(item.value) | number: '1.2-2') ?? '' }}
        </p>
      </div>
    </div>
  </ng-container>

  <ng-template #noTransactions>
    <p class="noTransactionsMessage">Nenhuma transação encontrada.</p>
  </ng-template>
</div>