.card {
  background-color: var(--bg-white);
  padding: var(--s-xl);
  border-radius: var(--br-md);
  box-shadow: var(--shadow-sm);
  min-width: 300px;
  flex-grow: 1;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
  align-items: center;
  margin-bottom: var(--s-md);
  border-bottom: 1px solid var(--tertiary);
  padding-bottom: var(--s-sm);
}

.title {
  font-size: var(--title-h2);
  font-weight: var(--bold);
  color: black;
}