.inputGroup {
  display: flex;
  flex-direction: column;
  margin-bottom: var(--s-lg);

}

.label {
  font-size: var(--text);
  font-weight: var(--medium);
  color: var(--color-bg-blue); /*color: var(--color-tertiary); /* mudado por contraste */
  margin-bottom: var(--s-md)
}

.input {
  padding: var(--s-sm);
  border: 1px solid var(--color-bg-blue);
  border-radius: var(--border-radius-md);
  font-size: var(--text);
  font-weight: var(--regular);
  color: var(--color-text-dark);
  background-color: var(--color-white);
  transition: border-color 0.2s ease-in-out;
  text-align: center;
  width: 255px;
}

.input:focus {
  outline: none;
  border-color: var(--color-bg-blue);
  box-shadow: 0 0 0 2px rgba(0, 77, 97, 0.2); /* Sombra suave no foco */
}